<nav class=" bg-green fixed-top">
  <div class="row">
    <div class="col ">
      <form class="form-inline searchbar">
        <input class="form-control" type="search" placeholder="  поиск..." aria-label="Search">
      </form>
    </div>
    <div class="col">
      <h2 class="text-center">Ферма Нейрожэб</h2>
    </div>
    <div class="col">
      <div class="row mt-2">
        <div class="col"></div>
        <div class="col">
          <div class="row mt-4" *ngIf="money>0">
            <div class="col-md-4  col-sm-6 shine-text" (click)="goToFrogs()">
              Мои жэбы
            </div>
            <div class=" col-md-3 col-sm-6">
              <span class="text-warning">{{money}} <i class="fas fa-coins"></i></span>
            </div>
            <div class=" col-md-3 col-sm-6 mr-2 shine-white" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</nav>
