<div class="container">
  <div class="main-body" *ngIf="user">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="https://lh3.googleusercontent.com/proxy/rhsvKsJ_3BdS8tfqGIu8uXpK14MyU6Ard_4bTF5tiKomwRcHrIiB4iDMC6eSfXV7jc7HvFbGH7TWvIYBqZ4NDCLWo_-oqdqS3UMZcYhJ_TuKv4GI4BHa44KQlDM_DdqcSGr4ADdwgIQxa2x9511u-U4i7_1O5D4co6Hv5YH8vw"
                alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{user.username}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">Всего жаб:</h6>
              <span class="text-secondary">{{userJaby.length}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">Денег:</h6>
              <span class="text-warning d-flex flex-row pl-0">{{user.money}} <i class="fas fa-coins"></i></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Всего денег собрано:</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.total_money_collected}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Всего еды потрачено:</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.total_food_spent}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Всего воды потрачено:</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.total_water_spent}}
              </div>
            </div>
            <hr>
          </div>
        </div>


      </div>
    </div>

  </div>

  <!--jaby list-->
  <div class="container">
    <div class="text-warning" *ngIf="warningFlag">{{warningMessage}}</div>
    <div class="row">

      <div class="col-md-3 col-sm-6" *ngFor="let jaba of userJaby">
        <div class="box">
          <img src="{{jaba.image}}" alt="jaba-image">
          <div class="box-content">
            <h5 class="title">{{jaba.name}}</h5>
            <h4 class="progress-title mr-1">Еда</h4>
            <div class="progress orange">
              <div class="progress-bar" style="{{calculateProgressStyle(jaba.food, '#ff6e2d')}}">
              </div>
            </div>
            <h4 class="progress-title mr-1">Чистота</h4>
            <div class="progress blue">
              <div class="progress-bar" style="{{calculateProgressStyle(jaba.cleanliness, '#6f86ff')}}">
              </div>
            </div>
            <h4 class="progress-title mr-1">Деньги</h4>
            <div class="progress yellow">
              <div class="progress-bar" style="{{calculateProgressStyle(jaba.money, '#edff34')}}">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
