<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<div class="container-md">
  <div class="row">

    <div class="col-md-offset-3 col-md-6" >
      <form class="form-horizontal" [formGroup]="registerForm">
        <span class="heading">Жэбы хотят знать кто вы</span>
        <div class="form-group">
          <div class="text-danger" *ngIf="warningFlag">{{warningMessage}}</div>
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" formControlName="username"
                 [ngClass]="{'has-error': registerForm.get('username').errors && (registerForm.get('username').dirty || registerForm.get('username').touched)}">
          <i class="fa fa-user"></i>
          <span *ngIf="registerForm.get('username').errors && registerForm.get('username').touched">
            Ник должен быть от 4 до 10 символов
          </span>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password"
                 [ngClass]="{'has-error': registerForm.get('password').errors && (registerForm.get('password').dirty || registerForm.get('password').touched)}">
          <i class="fa fa-lock"></i>
          <span *ngIf="registerForm.get('password').errors && registerForm.get('password').touched">
            Пароль должен содержать цифры, латинские буквы и быть минимум 8-символьным.
          </span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success hover-shine align-content-center" [disabled]="!registerForm.valid" (click)="onSubmit()" >ВХОД</button>
        </div>
        <a [routerLink]="['register']" class="align-content-start">нет учетной записи? зарегистрируйся!</a>
      </form>
    </div>

  </div><!-- /.row -->
</div><!-- /.container -->
