<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<div class="container-md">
  <div class="row">

    <div class="col-md-offset-3 col-md-6">
      <form class="form-horizontal">
        <span class="heading">Жэбы хотят знать кто вы</span>
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" placeholder="E-mail">
          <i class="fa fa-user"></i>
        </div>
        <div class="form-group help">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          <i class="fa fa-lock"></i>
          <div class="fa fa-question-circle" [routerLink]="['register']" ></div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success hover-shine align-content-center">ВХОД</button>
        </div>
      </form>
    </div>

  </div><!-- /.row -->
</div><!-- /.container -->
