
<div class="container">
  <div class="text-warning" *ngIf="warningFlag">{{warningMessage}}</div>
  <div class="row">

    <div class="col-md-3 col-sm-6" *ngFor="let jaba of jaby">
      <div class="box">
        <img src="{{jaba.image}}" alt="jaba-image">
        <div class="box-content">
          <h5 class="title">{{jaba.name}}</h5>
          <h4 class="progress-title mr-1">Еда</h4>
          <div class="progress orange">
            <div class="progress-bar" style="{{calculateProgressStyle(jaba.food, '#ff6e2d')}}">
            </div>
          </div>
          <h4 class="progress-title mr-1">Чистота</h4>
          <div class="progress blue">
            <div class="progress-bar" style="{{calculateProgressStyle(jaba.cleanliness, '#6f86ff')}}">
            </div>
          </div>
          <h4 class="progress-title mr-1">Деньги</h4>
          <div class="progress yellow">
            <div class="progress-bar" style="{{calculateProgressStyle(jaba.money, '#edff34')}}">
            </div>
          </div>
        </div>
        <ul class="icon">
          <li><a (click)="feedFrog(jaba.id)"><i class="fas fa-pizza-slice"></i></a></li>
          <li><a (click)="washFrog(jaba.id)"><i class="fas fa-bath"></i></a></li>
          <li><a (click)="collectMoney(jaba.id)"><i class="fas fa-wallet"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 cart-image" *ngIf="isFrogBuyAvailable()">
      <div class="box" (click)="buyNewFrog()">
        <img src="https://cdn0.iconfinder.com/data/icons/e-commerce-ui-glyph/64/ecommerce_-_basket_full-512.png"
             alt="cart-image" class="img-fluid bg-white" >
        <div class="box-content">
          <h2 class="title">Купить новую жэбу</h2>
        </div>
      </div>

    </div>

  </div>
</div>
